header {
  font-size: 6.5vmin;
  color: red;
  letter-spacing: 0.5vmin;
  text-align: center;
  margin-bottom: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 5vh;
  margin: 0;
}

.counter-wrapper {
  display: flex;
  align-items: center;
  height: 170px;
}

.counter {
  font-size: 2.4rem;
  margin-left: 10px;
}

#letters { 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 800px;
  height: 70px;
  gap: 5px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  font-weight: bold;
}

#guesses { 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 800px;
  height: 300px;
  gap: 5px;
} 

/* .guess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  font-weight: bold;
} */

#letter-form {
  height: 40px;
  color: green;
}

#graveyard { 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 800px;
  height: 70px;
  gap: 5px;
}

.grave {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  background-color: darkgrey;
  font-weight: bold;
}