header {
  display: flex;
  font-size: 6.5vmin;
  color: red;
  letter-spacing: 0.5vmin;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.counter-wrapper {
  display: flex;
  align-items: center;
  height: 70px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0;
}

.counter {
  font-size: 2.4rem;
  margin-left: 10px;
}

#letters { 
  font-size: 3.6rem;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  height: 270px;
  gap: 10px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  font-weight: bold;

}

#letter-form {
  height: 40px;
  color: green;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
}

/* #guesses { 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 800px;
  height: 300px;
  gap: 5px;
}  */

/* .guess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  font-weight: bold;
} */

#graveyard { 
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  height: 70px;
  gap: 10px;
  margin-bottom: 20px;
}

.grave {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  background-color: darkgrey;
  font-weight: bold;
  gap: 10px;
  margin-top: 20px;
}

.blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.win-message {
  text-align: center;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

.hide {
  display: none;
}
